# Main Requirements
-r requirements.txt

# Testing
pytest
pytest-timeout
pytest-cov
pytest-qt

# Linting & type checking
pylint
mypy
types-requests

# Code formatting
black
isort
pip-audit
pyproject-fmt
